<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>uniE000</key>
    <string>uniE_000.glif</string>
    <key>uniE002</key>
    <string>uniE_002.glif</string>
    <key>uniE004</key>
    <string>uniE_004.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>uni2DE1</key>
    <string>uni2D_E_1.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>uni0311</key>
    <string>uni0311.glif</string>
    <key>uni033E</key>
    <string>uni033E_.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>uni2DEF</key>
    <string>uni2D_E_F_.glif</string>
    <key>uni2DE9</key>
    <string>uni2D_E_9.glif</string>
    <key>uni2DEC</key>
    <string>uni2D_E_C_.glif</string>
    <key>uni2DF1</key>
    <string>uni2D_F_1.glif</string>
    <key>uni2DED</key>
    <string>uni2D_E_D_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>uni2DEA</key>
    <string>uni2D_E_A_.glif</string>
    <key>uni2DE3</key>
    <string>uni2D_E_3.glif</string>
    <key>uni2DE2</key>
    <string>uni2D_E_2.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>afii10100</key>
    <string>afii10100.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>uni2DE5</key>
    <string>uni2D_E_5.glif</string>
    <key>afii10061</key>
    <string>afii10061.glif</string>
    <key>afii10145</key>
    <string>afii10145.glif</string>
    <key>afii10099</key>
    <string>afii10099.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>uni2DE4</key>
    <string>uni2D_E_4.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>afii10106</key>
    <string>afii10106.glif</string>
    <key>afii10107</key>
    <string>afii10107.glif</string>
    <key>afii10109</key>
    <string>afii10109.glif</string>
    <key>afii10108</key>
    <string>afii10108.glif</string>
    <key>afii10193</key>
    <string>afii10193.glif</string>
    <key>nbspace</key>
    <string>nbspace.glif</string>
    <key>afii10062</key>
    <string>afii10062.glif</string>
    <key>afii10110</key>
    <string>afii10110.glif</string>
    <key>afii10050</key>
    <string>afii10050.glif</string>
    <key>afii10023</key>
    <string>afii10023.glif</string>
    <key>afii10053</key>
    <string>afii10053.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>afii10056</key>
    <string>afii10056.glif</string>
    <key>uniA67E</key>
    <string>uniA_67E_.glif</string>
    <key>afii10055</key>
    <string>afii10055.glif</string>
    <key>afii10103</key>
    <string>afii10103.glif</string>
    <key>afii10098</key>
    <string>afii10098.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>afii10071</key>
    <string>afii10071.glif</string>
    <key>afii10101</key>
    <string>afii10101.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>afii10105</key>
    <string>afii10105.glif</string>
    <key>afii10054</key>
    <string>afii10054.glif</string>
    <key>afii10102</key>
    <string>afii10102.glif</string>
    <key>afii10104</key>
    <string>afii10104.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>afii10017</key>
    <string>afii10017.glif</string>
    <key>afii10018</key>
    <string>afii10018.glif</string>
    <key>afii10019</key>
    <string>afii10019.glif</string>
    <key>afii10020</key>
    <string>afii10020.glif</string>
    <key>afii10021</key>
    <string>afii10021.glif</string>
    <key>afii10022</key>
    <string>afii10022.glif</string>
    <key>afii10024</key>
    <string>afii10024.glif</string>
    <key>afii10025</key>
    <string>afii10025.glif</string>
    <key>afii10026</key>
    <string>afii10026.glif</string>
    <key>afii10027</key>
    <string>afii10027.glif</string>
    <key>afii10028</key>
    <string>afii10028.glif</string>
    <key>afii10029</key>
    <string>afii10029.glif</string>
    <key>afii10030</key>
    <string>afii10030.glif</string>
    <key>afii10031</key>
    <string>afii10031.glif</string>
    <key>afii10032</key>
    <string>afii10032.glif</string>
    <key>afii10033</key>
    <string>afii10033.glif</string>
    <key>afii10034</key>
    <string>afii10034.glif</string>
    <key>afii10035</key>
    <string>afii10035.glif</string>
    <key>afii10036</key>
    <string>afii10036.glif</string>
    <key>uniA64A</key>
    <string>uniA_64A_.glif</string>
    <key>afii10038</key>
    <string>afii10038.glif</string>
    <key>afii10039</key>
    <string>afii10039.glif</string>
    <key>afii10040</key>
    <string>afii10040.glif</string>
    <key>afii10041</key>
    <string>afii10041.glif</string>
    <key>afii10042</key>
    <string>afii10042.glif</string>
    <key>afii10043</key>
    <string>afii10043.glif</string>
    <key>afii10044</key>
    <string>afii10044.glif</string>
    <key>afii10045</key>
    <string>afii10045.glif</string>
    <key>afii10046</key>
    <string>afii10046.glif</string>
    <key>afii10048</key>
    <string>afii10048.glif</string>
    <key>uniA656</key>
    <string>uniA_656.glif</string>
    <key>afii10065</key>
    <string>afii10065.glif</string>
    <key>afii10066</key>
    <string>afii10066.glif</string>
    <key>afii10067</key>
    <string>afii10067.glif</string>
    <key>afii10068</key>
    <string>afii10068.glif</string>
    <key>afii10069</key>
    <string>afii10069.glif</string>
    <key>afii10070</key>
    <string>afii10070.glif</string>
    <key>afii10072</key>
    <string>afii10072.glif</string>
    <key>afii10073</key>
    <string>afii10073.glif</string>
    <key>afii10074</key>
    <string>afii10074.glif</string>
    <key>afii10075</key>
    <string>afii10075.glif</string>
    <key>afii10076</key>
    <string>afii10076.glif</string>
    <key>afii10077</key>
    <string>afii10077.glif</string>
    <key>afii10078</key>
    <string>afii10078.glif</string>
    <key>afii10079</key>
    <string>afii10079.glif</string>
    <key>afii10080</key>
    <string>afii10080.glif</string>
    <key>afii10081</key>
    <string>afii10081.glif</string>
    <key>afii10082</key>
    <string>afii10082.glif</string>
    <key>afii10083</key>
    <string>afii10083.glif</string>
    <key>afii10084</key>
    <string>afii10084.glif</string>
    <key>uniA64B</key>
    <string>uniA_64B_.glif</string>
    <key>afii10086</key>
    <string>afii10086.glif</string>
    <key>afii10087</key>
    <string>afii10087.glif</string>
    <key>afii10088</key>
    <string>afii10088.glif</string>
    <key>afii10089</key>
    <string>afii10089.glif</string>
    <key>afii10090</key>
    <string>afii10090.glif</string>
    <key>afii10091</key>
    <string>afii10091.glif</string>
    <key>afii10092</key>
    <string>afii10092.glif</string>
    <key>afii10093</key>
    <string>afii10093.glif</string>
    <key>afii10094</key>
    <string>afii10094.glif</string>
    <key>afii10096</key>
    <string>afii10096.glif</string>
    <key>uniA657</key>
    <string>uniA_657.glif</string>
    <key>sfthyphen</key>
    <string>sfthyphen.glif</string>
    <key>uni0400</key>
    <string>uni0400.glif</string>
    <key>uni040D</key>
    <string>uni040D_.glif</string>
    <key>uni0450</key>
    <string>uni0450.glif</string>
    <key>uni045D</key>
    <string>uni045D_.glif</string>
    <key>uni0460</key>
    <string>uni0460.glif</string>
    <key>uni0461</key>
    <string>uni0461.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0464</key>
    <string>uni0464.glif</string>
    <key>uni0465</key>
    <string>uni0465.glif</string>
    <key>uni0466</key>
    <string>uni0466.glif</string>
    <key>uni0467</key>
    <string>uni0467.glif</string>
    <key>uni0468</key>
    <string>uni0468.glif</string>
    <key>uni0469</key>
    <string>uni0469.glif</string>
    <key>uni046A</key>
    <string>uni046A_.glif</string>
    <key>uni046B</key>
    <string>uni046B_.glif</string>
    <key>uni046C</key>
    <string>uni046C_.glif</string>
    <key>uni046D</key>
    <string>uni046D_.glif</string>
    <key>uni046E</key>
    <string>uni046E_.glif</string>
    <key>uni046F</key>
    <string>uni046F_.glif</string>
    <key>uni0470</key>
    <string>uni0470.glif</string>
    <key>uni0471</key>
    <string>uni0471.glif</string>
    <key>uni0472</key>
    <string>uni0472.glif</string>
    <key>uni0473</key>
    <string>uni0473.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni0476</key>
    <string>uni0476.glif</string>
    <key>uni0477</key>
    <string>uni0477.glif</string>
    <key>uni0478</key>
    <string>uni0478.glif</string>
    <key>uni0479</key>
    <string>uni0479.glif</string>
    <key>uni047A</key>
    <string>uni047A_.glif</string>
    <key>uni047B</key>
    <string>uni047B_.glif</string>
    <key>uni047C</key>
    <string>uni047C_.glif</string>
    <key>uni047D</key>
    <string>uni047D_.glif</string>
    <key>uni047E</key>
    <string>uni047E_.glif</string>
    <key>uni047F</key>
    <string>uni047F_.glif</string>
    <key>uni0480</key>
    <string>uni0480.glif</string>
    <key>uni0481</key>
    <string>uni0481.glif</string>
    <key>uni0482</key>
    <string>uni0482.glif</string>
    <key>uni0483</key>
    <string>uni0483.glif</string>
    <key>uni0484</key>
    <string>uni0484.glif</string>
    <key>uni0485</key>
    <string>uni0485.glif</string>
    <key>uni0486</key>
    <string>uni0486.glif</string>
    <key>uni0487</key>
    <string>uni0487.glif</string>
    <key>uni0488</key>
    <string>uni0488.glif</string>
    <key>uni0489</key>
    <string>uni0489.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni0443</key>
    <string>uni0443.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>uni0402</key>
    <string>uni0402.glif</string>
    <key>uni0403</key>
    <string>uni0403.glif</string>
    <key>uni0408</key>
    <string>uni0408.glif</string>
    <key>uni0409</key>
    <string>uni0409.glif</string>
    <key>uni040A</key>
    <string>uni040A_.glif</string>
    <key>uni040B</key>
    <string>uni040B_.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uniA64C</key>
    <string>uniA_64C_.glif</string>
    <key>uniA64D</key>
    <string>uniA_64D_.glif</string>
    <key>uniA67C</key>
    <string>uniA_67C_.glif</string>
    <key>uniA67D</key>
    <string>uniA_67D_.glif</string>
    <key>uniA67F</key>
    <string>uniA_67F_.glif</string>
    <key>uniA673</key>
    <string>uniA_673.glif</string>
    <key>uni2E2F</key>
    <string>uni2E_2F_.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni2DEE</key>
    <string>uni2D_E_E_.glif</string>
    <key>uniE005</key>
    <string>uniE_005.glif</string>
    <key>uni2DE10487</key>
    <string>uni2D_E_10487.glif</string>
    <key>uni2DE20487</key>
    <string>uni2D_E_20487.glif</string>
    <key>uni2DE90487</key>
    <string>uni2D_E_90487.glif</string>
    <key>uni2DEA0487</key>
    <string>uni2D_E_A_0487.glif</string>
    <key>uni2DEC0487</key>
    <string>uni2D_E_C_0487.glif</string>
    <key>uni2DED0487</key>
    <string>uni2D_E_D_0487.glif</string>
    <key>uni2DF10487</key>
    <string>uni2D_F_10487.glif</string>
    <key>uni1C82</key>
    <string>uni1C_82.glif</string>
    <key>uni202F</key>
    <string>uni202F_.glif</string>
    <key>uni2003</key>
    <string>uni2003.glif</string>
    <key>uni2004</key>
    <string>uni2004.glif</string>
    <key>uni2005</key>
    <string>uni2005.glif</string>
    <key>uni2006</key>
    <string>uni2006.glif</string>
    <key>uni2007</key>
    <string>uni2007.glif</string>
    <key>uni2008</key>
    <string>uni2008.glif</string>
    <key>uni2009</key>
    <string>uni2009.glif</string>
    <key>uni200A</key>
    <string>uni200A_.glif</string>
    <key>uni200B</key>
    <string>uni200B_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
  </dict>
</plist>
